*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    background-color: #fff;
    width: 100%;
    max-width: 920px;
    grid-template-rows: 510px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap:20px ;
    margin: 0 40px;
}
.text {
    color: #4B4C5F;
}
.img-left-box{
    background: url("img/bg-pattern-desktop.svg"), url("img/illustration-woman-online-desktop.svg");
    background-size: 250%,120%;
    background-position: 100% 50%, 100% 50%;
    background-repeat: no-repeat;
    position: relative;
}
.picture-box {
    position: absolute;
    top:40%;
    left: -24%;
    width: 50%;
}
.accordion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #787887;
    margin-right: 20%;
    margin-top: 10%;
}
.accordion .content-box{
    margin: 10px 20px;
    position: relative;
}
.accordion .content-box .label {
    position: relative;
    padding-bottom: 20px; 
}
.accordion .content-box .label::before {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.accordion .content-box .content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .content-box.active .content{
    height: auto;
    padding-bottom: 5px;
} 
.accordion .content-box.active .label{
    color: #1E1F36;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
}
.accordion .content-box.active .arrow{
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.content{
    border-bottom: 1px solid #979797;
}
.label{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}
.arrow{
    width: 10px;
    height: 10px;
}
.title-h1{
    padding: 30px 0 30px 0;
    color: #1E1F36;
    font-size: 32px;
    line-height: 32px;
}
.orange:hover{
    color: #F47B56;
}
.orange{
    font-size: 14px;
    line-height: 14px;
}
.small-text {
    font-size: 12px;
    line-height: 18px;
}
/*  TABLET - MOBILES */
@media only screen and (max-width: 750px){
    .box {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        height: 580px;
        width: 327px;
        background-image: url("img/bg-pattern-mobile.svg");
        background-repeat: no-repeat;
        background-position:50% 0%;   

    }
    .img-left-box {
        display: none;
    }
    .text-question{
        position:absolute;
        top: 20%;
        padding: 45px;
        
    }
    .question-box{
        font-size: 12px;
        line-height: 18px;
    }
    .box::before{
        content: url("img/illustration-woman-online-mobile.svg");
        position: absolute;
        top: -110px;
        justify-self: center;
        padding-right: 25px;
    }
    .title{
        text-align: center;
    }
    .accordion {
        margin: 0;
        margin-top: 100px;
        text-align: center;
        padding: 10px;
        padding-bottom: 130px;
    }
}